.boid {
  position: absolute;

  width: 0;
  height: 0;

  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 6px solid rgb(255, 0, 0);

  transform-origin: bottom center;
  transition: transform 0.2s ease;
}