#home {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-container {

}

.arrow-down {
  border: solid white;
  border-width: 0 0.2em 0.2em 0;
  padding: 0.75em;
  rotate: 45deg;

  position: fixed;
  bottom: 10vh;
}