#home {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-container {
  width: 100%;
  margin: 4rem;
}

.title {
  font-size: 4rem;
  font-weight: 600;
}

.arrow-down {
  border: solid white;
  border-width: 0 0.2em 0.2em 0;
  padding: 0.75em;
  rotate: 45deg;

  position: absolute;
  bottom: 10vh;
}

#home > header > i {
  
}

footer {
  position: absolute;
  bottom: 0;
  height: 4rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  color: rgba(255, 255, 255, 0.603);
}

.name {
  margin-left: 2rem;
  display: flex;
}

.links {
  display: flex;
  gap: 1rem;
  justify-self: right;
}

.status {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  justify-self: right;
  margin-right: 2rem;
}

.status-dot {
  width: 10px;
  height: 10px;
  background-color: rgb(80, 200, 120);
  border-radius: 50%;
}
